@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
$transition-time: 350ms;
$toggle-prompt-delay: 2000ms;
$box-color: #eaeaea;
$box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
$box-shadow-light: 0 0px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-light-bottom: 0 3px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-light-top: 0 -3px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);

$box-border-radius: 16px;
$message-border-radius: 14px;
$message-border-radius-small: 6px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.chatbot-toggle {
    user-select: none;
    z-index: 255;
    color: white;
    position: fixed;
    height: 64px;
    width: 32px;
    bottom: calc(16px + 500px - 64px);
    right: calc(16px + 300px - 32px);
    background-color: #111111;
    border-radius: $box-border-radius 0 0 $box-border-radius;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: grid;
    place-items: center;
    font-size: 16px;

    width: 64px;
    align-items: flex-end;
    padding-left: 4px;

    // place-items: ;

    transition: box-shadow $transition-time ease-in-out,
        right $transition-time ease-in-out,
        bottom $transition-time ease-in-out $transition-time,
        top $transition-time ease-in-out $transition-time;
    box-shadow: $box-shadow;
}

.chatbot-toggle:hover {
    box-shadow: $box-shadow, $box-shadow;
}

.chatbot-box {
    z-index: 256;
    transition: right $transition-time ease-in-out,
        height $transition-time ease-in-out $transition-time;
    height: 500px;
    max-height: calc(100vh - 32px);
    width: 300px;
    max-width: calc(100vw - 64px);
    background-color: $box-color;
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: grid;
    grid-template-rows: 1fr 13.625fr 1fr;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;

    ::-webkit-scrollbar {
        display: none;
    }

    .chatbot-header {
        z-index: 258;
        height: 64px;
        background-color: #111111;
        width: 100%;
        user-select: none;
        cursor: pointer;
        display: grid;
        place-items: center;
        color: white;
        border-radius: 0 $box-border-radius 0 0;
        font-size: 20px;
        font-weight: 500;
        box-shadow: $box-shadow-light-bottom;
    }

    .chatbot-history {
        // scroll-behavior: smooth;
        overflow: scroll;

        

        .chatbot-message {
            background-color: lighten($box-color, 5%);
            padding: 8px 12px;
            margin: 8px;
            margin-top: 12px;
            margin-bottom: 12px;
            border-radius: $message-border-radius;
            color: black;
            font-size: 16px;
            margin-bottom: 4px;
            box-shadow: $box-shadow-light;
            opacity: 1;
            transition: opacity $transition-time ease-in-out;

        }
        .chatbot-message-system {
            background-color: lighten($box-color, 10%);
            margin-left: 32px;
            margin-right: 32px;
            text-align: center;
        }
        .chatbot-message-user {
            background-color: #333333;
            border-radius: $message-border-radius $message-border-radius
                $message-border-radius-small $message-border-radius;
            margin-left: 48px;
            color: white;
        }
        .chatbot-message-bot {
            background-color: #f9a825;
            border-radius: $message-border-radius $message-border-radius
                $message-border-radius $message-border-radius-small;
            margin-right: 48px;
            color: black;
        }
        .chatbot-message-user + .chatbot-message-user {
            margin-top: 4px;
            margin-bottom: 4px;
            border-top-right-radius: $message-border-radius-small;
        }
        .chatbot-message-bot + .chatbot-message-bot {
            margin-top: 4px;
            margin-bottom: 4px;
            border-top-left-radius: $message-border-radius-small;
        }

        .chatbot-message-user.last {
            border-top-right-radius: $message-border-radius-small;
            border-bottom-right-radius: $message-border-radius;
        }

        .chatbot-message-bot.last {
            border-top-left-radius: $message-border-radius-small;
            border-bottom-left-radius: $message-border-radius;
        }

        // .chatbot-message-user:not(.last) {
        //     background-color: black;
        // }

        // .chatbot-message-bot:not(.last) {
        //     background-color: black;
        // }

        .chatbot-message:last-child {
            margin-bottom: 12px;
        }

        .chatbot-message.hidden {
            opacity: 0;
        }
    }

    .chatbot-box-controls {
        z-index: 258;

        display: grid;
        height: 48px;
        grid-template-columns: 5fr 1fr;
        box-shadow: $box-shadow-light-top;
        border-radius: 0 0 $box-border-radius $box-border-radius;
        .chatbot-box-input {
            border-radius: 0 0 0 $box-border-radius;
            border: none;
            padding: 0 16px;
            outline: none;
            background-color: white;
        }
        .chatbot-box-input:disabled {
            background-color: lighten($color: $box-color, $amount: 5%);
        }
        .chatbot-box-button {
            border-radius: 0 0 $box-border-radius 0;
            border: none;
            outline: none;
            transition: background-color $transition-time ease-in-out;
            background-color: darken($box-color, 10%);
        }
        .chatbot-box-button:hover {
            background-color: darken($box-color, 5%);
        }
        .chatbot-box-button:active {
            background-color: darken($box-color, 15%);
        }
    }
}

.chatbot-toggle.hide {
    right: 0;
    right: -32px;
    // right: 0px;
    bottom: calc(16px + 112px - 64px);
    transition: box-shadow $transition-time ease-in-out,
        right $transition-time ease-in-out $transition-time,
        bottom $transition-time ease-in-out;
}

.chatbot-toggle.hide.prompt {
    animation: 5000ms heartbeat ease-in-out infinite;
    animation-delay: $toggle-prompt-delay;
}

.chatbot-box.hide {
    height: 112px;
    right: calc(-16px - 300px);
    transition: right $transition-time ease-in-out $transition-time,
        height $transition-time ease-in-out;

    // right: calc(-16px - 300px + 32px + 16px);
    // display: none;
}

// inputGrid.style.display = "grid";
// inputGrid.style.backgroundColor = "#aaaaaa";
// inputGrid.style.height = "32px";
// inputGrid.style.gridTemplateColumns = "5fr 1fr";
@media only screen and (max-height: 532px) {
    .chatbot-toggle {
        top: calc(16px);
        bottom: initial;
        transition: box-shadow $transition-time ease-in-out,
            right $transition-time ease-in-out,
            top $transition-time ease-in-out $transition-time;
    }
    .chatbot-toggle.hide {
        top: calc(100vh - 128px);
        transition: box-shadow $transition-time ease-in-out,
            right $transition-time ease-in-out $transition-time,
            top $transition-time ease-in-out;
    }
}

@media only screen and (max-width: 364px) {
    .chatbot-toggle {
        right: calc(100vw - 64px - 16px);
    }
}

@keyframes heartbeat {
    from {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-16px);
    }
    20% {
        transform: translateX(0);
    }
    to {
        transform: translateX(0);
    }
}
