@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.chatbot-toggle {
  z-index: 255;
  color: white;
  position: fixed;
  height: 64px;
  width: 32px;
  bottom: calc(16px + 500px - 64px);
  right: calc(16px + 300px);
  background-color: black;
  border-radius: 16px 0 0 16px;
  cursor: pointer;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 16px;
  width: 64px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 4px;
  right: calc(16px + 300px - 32px);
  -webkit-transition: right 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: right 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, right 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, right 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.chatbot-toggle:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.chatbot-box {
  z-index: 256;
  -webkit-transition: right 250ms ease-in-out;
  transition: right 250ms ease-in-out;
  height: 500px;
  width: 300px;
  background-color: #eaeaea;
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 13.625fr 1fr;
      grid-template-rows: 1fr 13.625fr 1fr;
  border-radius: 16px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.chatbot-box ::-webkit-scrollbar {
  display: none;
}

.chatbot-box .chatbot-header {
  height: 64px;
  background-color: black;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 0 16px 0 0;
  font-size: 20px;
  font-weight: 500;
}

.chatbot-box .chatbot-history {
  overflow: scroll;
}

.chatbot-box .chatbot-history .chatbot-message {
  background-color: #f7f7f7;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 14px;
  color: black;
  font-size: 16px;
}

.chatbot-box .chatbot-history .chatbot-message-system {
  background-color: white;
  margin-left: 32px;
  margin-right: 32px;
}

.chatbot-box .chatbot-history .chatbot-message-user {
  background-color: #555555;
  border-radius: 14px 14px 6px 14px;
  margin-left: 48px;
  color: white;
}

.chatbot-box .chatbot-history .chatbot-message-bot {
  background-color: #f9a825;
  border-radius: 14px 14px 14px 6px;
  margin-right: 48px;
  color: black;
}

.chatbot-box .chatbot-box-controls {
  display: -ms-grid;
  display: grid;
  height: 48px;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
}

.chatbot-box .chatbot-box-controls .chatbot-box-input {
  border-radius: 0 0 0 16px;
  border: none;
  padding: 0 16px;
  outline: none;
  background-color: white;
}

.chatbot-box .chatbot-box-controls .chatbot-box-input:disabled {
  background-color: #f7f7f7;
}

.chatbot-box .chatbot-box-controls .chatbot-box-button {
  border-radius: 0 0 16px 0;
  border: none;
  outline: none;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  background-color: #d1d1d1;
}

.chatbot-box .chatbot-box-controls .chatbot-box-button:hover {
  background-color: #dddddd;
}

.chatbot-box .chatbot-box-controls .chatbot-box-button:active {
  background-color: #c4c4c4;
}

.chatbot-toggle.hide {
  right: 0;
  right: -32px;
}

.chatbot-box.hide {
  right: calc(-16px - 300px);
}
/*# sourceMappingURL=chatbot_inject.css.map */