$transition-time: 250ms;
$box-color: #eaeaea;
$box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
$box-border-radius: 16px;
$message-border-radius: 14px;
$message-border-radius-small: 6px;

.chatbot-toggle {
    z-index: 255;
    color: white;
    position: fixed;
    height: 64px;
    width: 32px;
    bottom: calc(16px + 500px - 64px);
    right: calc(16px + 300px);
    background-color: black;
    border-radius: $box-border-radius 0 0 $box-border-radius;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: grid;
    place-items: center;
    transition: box-shadow $transition-time ease-in-out,
        right $transition-time ease-in-out;
    box-shadow: $box-shadow;
}

.chatbot-toggle:hover {
    box-shadow: $box-shadow, $box-shadow;
}

.chatbot-box {
    z-index: 256;
    transition: right $transition-time ease-in-out;
    height: 500px;
    width: 300px;
    background-color: $box-color;
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: grid;
    grid-template-rows: 1fr 13.625fr 1fr;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;

    ::-webkit-scrollbar {
        display: none;
    }

    .chatbot-header {
        height: 64px;
        background-color: black;
        width: 100%;

        display: grid;
        place-items: center;
        color: white;
        border-radius: 0 $box-border-radius 0 0;
        font-size: 20px;
        font-weight: 500;
    }

    .chatbot-history {
        scroll-behavior: smooth;
        overflow: scroll;

        .chatbot-message {
            background-color: lighten($box-color, 5%);
            padding: 8px 12px;
            margin: 8px;
            border-radius: $message-border-radius;
            color: black;
        }
        .chatbot-message-system {
            background-color: lighten($box-color, 10%);
            margin-left: 32px;
            margin-right: 32px;
        }
        .chatbot-message-user {
            background-color: #555555;
            border-radius: $message-border-radius $message-border-radius
                $message-border-radius-small $message-border-radius;
            margin-left: 48px;
            color: white;
        }
        .chatbot-message-bot {
            background-color: #f9a825;
            border-radius: $message-border-radius $message-border-radius
                $message-border-radius $message-border-radius-small;
            margin-right: 48px;
            color: black;
        }
    }

    .chatbot-box-controls {
        display: grid;
        height: 48px;
        grid-template-columns: 5fr 1fr;
        .chatbot-box-input {
            border-radius: 0 0 0 $box-border-radius;
            border: none;
            padding: 0 16px;
            outline: none;
            background-color: white;
        }
        .chatbot-box-input:disabled {
            background-color: lighten($color: $box-color, $amount: 5%);
        }
        .chatbot-box-button {
            border-radius: 0 0 $box-border-radius 0;
            border: none;
            outline: none;
            transition: background-color $transition-time ease-in-out;
            background-color: darken($box-color, 10%);
        }
        .chatbot-box-button:hover {
            background-color: darken($box-color, 5%);
        }
        .chatbot-box-button:active {
            background-color: darken($box-color, 15%);
        }
    }
}

.chatbot-toggle.hide {
    right: 0;
    // display: none;
}
.chatbot-box.hide {
    right: calc(-16px - 300px);
    // display: none;
}

// inputGrid.style.display = "grid";
// inputGrid.style.backgroundColor = "#aaaaaa";
// inputGrid.style.height = "32px";
// inputGrid.style.gridTemplateColumns = "5fr 1fr";
